@{
    ViewData["Title"] = "Success";
}

<!DOCTYPE html>
<html>
<body>
    <h1>Successful Resident Added Confirmation Page</h1>
    <p>Example: "You added a resident!"</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
</body>
</html>