@model SARSTWebApplication.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Index</h1>
<p>There are @Model.SarstUsers.Count users.</p>

<table>
    <tr>
        <th>Item</th>
    </tr>
    @foreach (var item in Model.SarstUsers)
    {
            <tr>
                <td>@item.userName</td>
            </tr>
    }
</table>