@{
    ViewData["Title"] = "Register New User";
}

<!DOCTYPE html>
<html>
<body>
    <form action="submitRegistration" method="post">
        <fieldset>
            <legend>Register a SARST Account</legend>
            <div>
                <label for="userName">User Name:</label>
                <input type="text" name="userName" value="" />
            </div>
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" value="" />
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" value="" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" value="" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="text" name="password" value="" />
            </div>
            <div>
                <label for="userRole">Role Request:</label>
                <input type="text" name="userRole" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>
</html>