html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Update the color scheme */
:root {
    --primary-color: #616161;
    --secondary-color: #f5f5f5;
    --btn-main-color: #007bff;
    --btn-inverted-color: #fff;
}


/* Button Design*/
.btn-primary {
    background-color: var(--btn-main-color);
    border-color: var(--btn-inverted-color);
}

    .btn-primary:hover {
        background-color: #444;
        border-color: #444;
    }

.btn-outline-primary {
    color: var(--btn-main-color);
    border-color: var(--btn-inverted-color);
}

    .btn-outline-primary:hover {
        background-color: var(--btn-inverted-color);
        color: var(--btn-main-color);
    }