@model SARSTWebApplication.Models.ReportModel

@{
    ViewData["Title"] = "Reports";
}

<h1 class="display-3">Report Model</h1>
<p class="lead">Select report type. Choose your date range. Get data.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateReport" id="reportForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Generate" id="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="chart_div"></div>
