@using SARSTWebApplication.Enums;
@model SARSTWebApplication.Models.ReportModel

@{
    ViewData["Title"] = "Reports";
}

<div style="display: flex; justify-content: space-between; align-items: center;"><p class="h2 text-muted">Reportin' Time</p></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateReport" id="reportForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="currentType" class="control-label">Report Type:</label>
                <select id="currentTypeSelecter" asp-for="currentType" asp-items="Html.GetEnumSelectList<ReportTypes>()" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="startDate" class="control-label">Start Date:</label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="endDate" class="control-label">End Date:</label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="residentID" class="control-label">Resident ID:</label>
                <input asp-for="residentID" class="form-control" value="@ViewBag.residentID" />
                <span asp-validation-for="residentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Generate" id="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Get the select element and the start and end date divs
        var currentTypeSelect = $("#currentTypeSelecter");
        var startDateDiv = $("#startDate");
        var endDateDiv = $("#endDate");
        var residents = $("#residents");

        // Hide the start and end date divs by default
        startDateDiv.show();
        endDateDiv.show();
        residents.show();

        // Attach a change event listener to the select element
        currentTypeSelect.change(function () {
            // Get the selected value
            var selectedValue = $(this).val();

            console.log(selectedValue);

            // Check if the selected value is the one that should hide the start and end date divs
            if (selectedValue == 3) {
                startDateDiv.hide();
                endDateDiv.hide();
                residents.hide();
            } else {
                startDateDiv.show();
                endDateDiv.show();
                residents.show();
            }
        });
    });
</script>



