@model SARSTWebApplication.Models.SarstUser
@{
    ViewData["Title"] = "Forgot Your Password";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Forgot Your Password?</h4>
                </div>
                <div class="card-body">
                    <form asp-action="ForgotPassword" id="forgotPasswordForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="userName" class="control-label">User Name</label>
                            <input asp-for="userName" class="form-control" />
                            <span asp-validation-for="userName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="email" class="control-label">Email</label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="submit" value="Submit Password Reset Request" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <span>Don't have an account?</span>
                    <a asp-action="Register" class="btn btn-primary">Register</a>
                    <span>Back to home</span>
                    <a asp-action="Index" class="btn btn-primary">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
        <script>
            $(function () {
                $('#submit').on('click', function (evt) {
                    evt.preventDefault();
                    var formdata = $('#forgotPasswordForm').serialize();
                    $.ajax({
                        url: "/Public/ForgotPassword",
                        type: 'Post',
                        data: formdata,
                        success: function (data) {
                            alert(data);
                        },
                        error: function () {
                            alert('Error');
                        }
                    })
                });
            });
        </script>
}