@using SARSTWebApplication.Enums
@model SARSTWebApplication.Models.RegistrationRequest

@{
    ViewData["Title"] = "Register";
}

@if (TempData["Message"] != null)
{

                <script>
                    window.onload = function(){
                        alert('@TempData["Message"]');
                    };   
                </script>
}

<div class="ctn">
    <div class="card shadow-lg">
        <div class="card-header">
            <h4 class="mb-0">Register</h4>
        </div>
        <div class="card-body">
            <form asp-action="Register" id="registerForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="userName" class="control-label">User Name</label>
                    <input asp-for="userName" class="form-control" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="firstName" class="control-label">First Name</label>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lastName" class="control-label">Last Name</label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label">Email</label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="password" class="control-label">Password</label>
                    <input asp-for="password" id="password" class="form-control" type="password"/>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label  class="control-label">Confirm Password</label>
                    <input  class="form-control" id="confirmPassword" type="password" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="userRole" class="control-label">Requested User Role</label>
                    <select asp-for="userRole" asp-items="Html.GetEnumSelectList<UserTypes>()" class="form-control"></select>
                </div>
                <div class="form-group">
                    <input type="submit" id="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="card-footer">       
                <span>Already have an account?</span>
                <a class="btn btn-primary" asp-area="" asp-controller="Public" asp-action="Login">Login</a>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                if ($('#password').val() != $('#confirmPassword').val()) {
                    alert("Passwords do not match");
                    return;
                }
                var formdata = $('#registerForm').serialize();
                $.ajax({
                    url: "/Public/Register",
                    type: 'Post',
                    data: formdata,
                    success: function (data) {
                        if (data == "Success") {
                            window.location.replace("/Public/Success");
                        } else {
                            alert(data);
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                })
            });
        });
    </script>
}