@{
    ViewData["Title"] = "Success";
}

<!DOCTYPE html>
<html>
<body>
    <h1>Successful Registration Request Confirmation Page</h1>
    <p>Example: "Your registration request has been successfully submitted. You'll receive a response soon."</p>
    <a asp-area="" asp-controller="Public" asp-action="Index">Back to Home</a>
</body>
</html>