@model SARSTWebApplication.Models.SarstUser

@{
    ViewData["Title"] = "New Password";
}

<h4>Change your password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="password" class="control-label">New Password</label>
                <input asp-for="password" id="newPassword"class="form-control" value="" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Confirm Password</label>
                <input asp-for="password" id="confirmPassword" class="form-control" value="" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                var formData = { newPassword: $('#newPassword').val(), confirmPassword: $('#confirmPassword').val() };
                $.ajax({
                    url: "/Account/ChangePassword",
                    type: 'Post',
                    data: formData,
                    success: function (data) {
                        if (data == "Success") {
                            window.location.replace("/Account/SARST");
                        }
                        else alert(data);
                    },
                    error: function () {
                        alert('Error');
                    }
                })
            });
        });
    </script>
}