@{
    ViewData["Title"] = "Account";
}

<h1>Salvation Army Resident Service Tracker</h1>
<p>This is the landing page for our app. Don't worry about styling at this point.</p>
<p>Login Button - When the user clicks the login button, they will be taken to Account/Login view.</p>
<p>Register Button - When the user clicks the register button, they will be taken to Account/Register view.</p>

<a class="btn btn-primary" role="button" asp-controller="Account" asp-action="Login">Login</a>
<a class="btn btn-primary" role="button" asp-action="Register">Register</a>

<p>After the user logs in, they will be taken to a landing page with functionality for thier userRole.</p>
<p>A session value for userRole has been added to the loginAttempt method in the AccountController.</p>


