@model SARSTWebApplication.Models.SarstUser


<style>
    .btn {
        margin-top: 1rem
    }

    /* Apply styles to the form fields and labels */
    .form-group {
        margin-bottom: 1rem;
    }

    .control-label {
        font-weight: bold;
    }

    /* Adjust the width of the form fields */
    .form-control {
        width: 100%;
    }


</style>

<h4>SarstUser</h4>
<hr />
<div class="ctn">
    <div class="card shadow-lg">
        <div class="card-header">
            <h4>Login to your Account</h4>
            <hr />
        </div>
        <div class="card-body">
            <form asp-action="LoginAttempt">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="userName" class="control-label">User Name</label>
                    <input asp-for="userName" class="form-control" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label">Password</label>
                    <input asp-for="password" class="form-control" type="password" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
            <div>
               @* <a asp-action="">Forgot Password?</a> *@
                <a class="btn btn-primary" role="button" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

