@using SARSTWebApplication.Enums
@model SARSTWebApplication.Models.RegistrationRequest

@{
    ViewData["Title"] = "Register";
}
<style>
    .ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        width: 50vw;
        min-width: 300px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .card-header {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 10px 10px 0 0;
    }


    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 1rem;
    }

        form fieldset {
            width: 90vw;
            margin: auto;
        }

        form legend {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        form div {
            display: flex;
            flex-direction: column; /* Add this line to make the error messages appear below the text fields */
            margin-bottom: 1rem;
        }

    .form-group {
        width: 40vw;
        display: flex;
        margin: auto;
        flex-direction: column; /* Add this line to make the error messages appear below the text fields */
        padding: 8px;
    }

        .control-label {
            font-weight: bold;
            min-width: 120px;
        }

            form input[type="submit"]:hover {
                background-color: #444;
                cursor: pointer;
            }


</style>

<h1>Register</h1>

<h4>RegistrationRequest</h4>
<hr />

@if (TempData["Message"] != null)
{

                <script>
                    window.onload = function(){
                        alert('@TempData["Message"]');
                    };   
                </script>
}

<div class="ctn">

    <div class="card shadow-lg">
        <div class="card-header">
            <h4 class="mb-0">Register</h4>
        </div>
        <div class="card-body">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="userName" class="control-label"></label>
                    <input asp-for="userName" class="form-control" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="firstName" class="control-label"></label>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lastName" class="control-label"></label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="userRole" class="control-label"></label>
                    <select asp-for="userRole" class="form-control" id="role-dropdown">
                        @foreach (var userType in ViewBag.UserTypes)
                        {
                            <option value="@userType.Value">@userType.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <span>Already have an account?</span>
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="">Login</a>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

