@{
	ViewData["Title"] = "SARST";
}

<h2>Welcome, @ViewBag.currentUserName!</h2>
<p>The functionality for this userRole is displayed:</p>

@if (ViewBag.currentUserRole == 0) // root user
{
    <button>Reporting</button>
    <button>Analysis</button>
    <button>Service Data Entry</button>
    <button>Admin Set Up</button>
    <button>Review Registration Requests</button>
}
else if (ViewBag.currentUserRole == 1) // admin
{
    <button>Reporting</button>
    <button>Analysis</button>
    <button>Service Data Entry</button>
    <button>Admin Set Up</button>
}
else // service provider
{
    <button>Reporting</button>
    <button>Service Data Entry</button>
}
<p></p>
<p>"SARSTWebApplication" in the toolbar will take the user to this view if logged in.
    If not logged in, they will be redirected to the Account/Index view.
</p>

<a class="btn btn-primary" role="button" asp-controller="Account" asp-action="LogOut">Log Out</a>
