@{
	ViewData["Title"] = "SARST";
}

<h2>Welcome, @ViewBag.currentUserName!</h2>
<p>The functionality for a @ViewBag.CurrentUserRoleName is displayed:</p>

@if (ViewBag.currentUserRole <= 1) // admin
{
    <a class="btn btn-primary" role="button" asp-controller="Resident" asp-action="Index">Manage Residents</a>
    <a class="btn btn-primary" role="button" asp-controller="ResidentStays" asp-action="Index">Manage Resident Stays</a>
}
@if (ViewBag.currentUserRole <= 3) // service provider
{
    <a class="btn btn-primary" role="button" asp-controller="Report" asp-action="Index">Generate Reports</a>
}
@if (ViewBag.currentUserRole == 0) // root user
{
    <a class="btn btn-primary" role="button" asp-controller="Account" asp-action="RegistrationRequests">Registration Requests</a>
}

<p></p>
<p>"SARSTWebApplication" in the toolbar will take the user to this view if logged in.
    If not logged in, they will be redirected to the Account/Index view.
</p>
<p></p>
<p>We need to decide on the appropriate landing page for each of these links. Review Registration Requests is working properly.</p>

<a class="btn btn-primary" role="button" asp-controller="Account" asp-action="LogOut">Log Out</a>
