@{
	ViewData["Title"] = "SARST";
}

<h2>Welcome, @ViewBag.currentUserName!</h2>
<p>The functionality for this userRole is displayed:</p>

@if (ViewBag.currentUserRole == 0) // root user
{
    <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Reporting</a>
    <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Analysis</a>
    <a class="btn btn-primary" role="button" asp-controller="ResidentStays" asp-action="Index">Service Data Entry</a>
    <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Admin Set Up</a>
    <a class="btn btn-primary" role="button" asp-controller="Account" asp-action="RegistrationRequests">Review Registration Requests</a>

}
else if (ViewBag.currentUserRole == 1) // admin
{
    <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Reporting</a>
    <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Analysis</a>
    <a class="btn btn-primary" role="button" asp-controller="ResidentStays" asp-action="Index">Service Data Entry</a>
    <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Admin Set Up</a>
  
}
else // service provider
{
    <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Reporting</a>
    <a class="btn btn-primary" role="button" asp-controller="ResidentStays" asp-action="Index">Service Data Entry</a>    
    
}
<p></p>
<p>"SARSTWebApplication" in the toolbar will take the user to this view if logged in.
    If not logged in, they will be redirected to the Account/Index view.
</p>
<p></p>
<p>We need to decide on the appropriate landing page for each of these links. Review Registration Requests is working properly.</p>

<a class="btn btn-primary" role="button" asp-controller="Account" asp-action="LogOut">Log Out</a>
