@model SARSTWebApplication.Models.ServiceEvent

@{
    ViewData["Title"] = "Record Services Rendered";
}

<h1>View</h1>

<h4>ServiceEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="serviceEventId" class="control-label"></label>
                <input asp-for="serviceEventId" class="form-control" />
                <span asp-validation-for="serviceEventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serviceName" class="control-label"></label>
                @*ViewBag.CityList is holding all the cities values*@
                @Html.DropDownListFor(model => model.serviceName,ViewBag.ServiceList as SelectList,  new { @class = "form-control"} )
                @Html.ValidationMessageFor(model => model.serviceName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="dateProvided" class="control-label"></label>
                <input asp-for="dateProvided" class="form-control" />
                <span asp-validation-for="dateProvided" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="residentId" class="control-label"></label>
                <input asp-for="residentId" class="form-control" />
                <span asp-validation-for="residentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stayId" class="control-label"></label>
                <input asp-for="stayId" class="form-control" />
                <span asp-validation-for="stayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

