@model IEnumerable<SARSTWebApplication.Migrations.residentstays>


<div class="jumbotron jumbotron-fluid border-secondary">
    <div class="container">
        <h1>What this page does:</h1>
        <p class="lead">From this landing page, you can view, edit, or delete existing active resident stays, 
            create new resident stays, and create new residents.</p>
        <p class="lead">Click "Add New" to create a new resident stay. This will bring you to the a view where a resident
            can be selected. You can also add a new resident from this view.</p>
    </div>
</div>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Resident Stays</h2>
    <a class="btn btn-primary" asp-action="SelectResident">Add New</a>                             
</div>

<input style="width: 350px" type="text" id="searchFilter" placeholder="Search by name or distinguishing features" />
<div id="gridResidentStays"></div>

@section Scripts {
    <script>

        $(() => {
            searchResidents();

            $('#searchFilter').on('keyup', () => {
                searchResidents();
            })
        });

        function searchResidents() {
            $.ajax({
                url: "/ResidentStays/SearchResidentStays?query=" + $('#searchFilter').val(),
                type: 'Get',
                success: function (data) {
                    $('#gridResidentStays').html('').html(data);
                },
                error: function () {
                    alert('Error');
                }
            })
        }

    </script>
}