@model IEnumerable<SARSTWebApplication.Models.Resident>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Select a Resident</h2>
    <a class="btn btn-primary" asp-action="Register" asp-controller="Resident">Add New Resident</a>
</div>

<input style="width: 350px" type="text" id="searchFilter" placeholder="Search by name or distinguishing features" />
<div id="gridResidents"></div>


@section Scripts {
    <script>

        $(() => {
            searchResidents();

            $('#searchFilter').on('keyup', () => {
                searchResidents();
            })
        });

        function searchResidents() {
                $.ajax({
                url: "/ResidentStays/SearchResidents?query=" + $('#searchFilter').val(),
                type: 'Get',
                success: function (data) {
                    $('#gridResidents').html('').html(data);
                },
                error: function () {
                    alert('Error');
                }
                })
        }

    </script>
}