@{
    ViewData["Title"] = "ASP.NET Default Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>If you're seeing this page, then we did something wrong, sorry about that. Why don't you  <a asp-area="" asp-controller="Account" asp-action="SARST">click here</a> to return to the regular home page?</p>
</div>
