@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Index</h3>
<p>@Html.ActionLink("Log Service Event", "SelectResident", new { type="ServiceForm" })</p>
<p>@Html.ActionLink("Log Disciplinary Event", "SelectResident", new { type="DisciplinaryForm" })</p>