@model IEnumerable<SARSTWebApplication.Models.Resident>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>@(ViewBag.eventType)</h2>
</div>

<div class="search-container">
    <input class="search-bar" type="text" id="searchFilter" placeholder="Search by name or distinguishing features" />
</div>
<div id="gridResidents"></div>

@{
    ViewData["Title"] = "Select Resident";
}

@section Scripts {
    <script>

        $(() => {
            searchResidents();

            $('#searchFilter').on('keyup', () => {
                searchResidents();
            })
        });

        function searchResidents() {
                $.ajax({
                    url: "/EventTracker/SearchResidents?query=" + $('#searchFilter').val(),
                type: 'Get',
                success: function (data) {
                    $('#gridResidents').html('').html(data);
                },
                error: function () {
                    alert('Error');
                }
                })
        }

    </script>
}